<div class="message-container is-current-user-<%= message.user == current_user %>" id="message-<%= message.id %>">
  <i class="author">
    <span><%= message.user.full_name %></span>
    <small><%= time_ago_in_words(message.created_at) %> ago</small>
  </i>
  <p><%= message.content %></p>
</div>
