<div class="musician-card">
  <div class="musican-picture">
    <%= image_tag (@musician.photo, height: '200')%>
  </div>
  <div class="musician-info">
    <h2><%= musician.first_name %><%= musician.last_name %></h2>
    <h4>Ensemble type: <%= musician.first_name %></h4>
    <h4>Instruments: <%= musician.first_name %></h4>
    <span><h3>$<%= musician.price %>span</h3><p>per concert</p></span>
    <%= link_to "learn more",  musicians_show_path(musician) %>
  </div>
</div>
