<!-- <button type="button" class="btn_home" style="padding-left: 30px; "> <%= link_to "< Home", root_path %>
    </button> -->
  <div class="row justify-content-center">
    <h1>MUSICIANS</h1>
  </div>
  <br>

<div class="container">
  <!-- need container for grid -->

<!-- SEARCH BAR -->
  <div class="card-body">
    <%= form_tag musicians_path, method: :get do %>
      <div class="d-flex">
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find musicians by their names, instruments or ensemble type"
        %>
        <%= submit_tag "search ", class: "btn btn-primary search-btn" %>
      </div>
    <% end %>
  </div>

  <br>

  <div class="row">
    <!-- check notes from TA call w Stephane for responsiveness -->
    <!-- <div class="all-musicians"> -->
      <!-- specify columns on line below as per responsiveness, check bootstrap documentation for grid -->
      <!-- might need to move row/div -->

      <% @musicians.each do |musician| %>
        <div class="col col-sm-12 col-md-6 col-lg-6">
          <%= render 'musician_card', { musician: musician } %>
          <br>
        </div>
      <% end %>

    <!-- </div> -->
  </div>

</div>
