<div class="container">
  <!-- need container for grid -->
  <%= link_to "< Home", root_path %>
  <h1>Musicians</h1>
  <br>

<!-- SEARCH BAR -->
  <div class="card-body">
    <%= form_tag musicians_path, method: :get do %>
      <div class="d-flex">
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find musicians by their names, instruments or ensemble type"
        %>
        <%= submit_tag "Search", class: "btn btn-primary musician-search-btn" %>
      </div>
    <% end %>
  </div>

  <br>

  <div class="row">
    <!-- check notes from TA call w Stephane for responsiveness -->
    <!-- <div class="all-musicians"> -->
      <!-- specify columns on line below as per responsiveness, check bootstrap documentation for grid -->
      <!-- might need to move row/div -->

      <% @musicians.each do |musician| %>
        <div class="col col-sm-12 col-md-6 col-lg-6">
          <%= render 'musician_card', { musician: musician } %>
          <br>
          <br>
        </div>
      <% end %>

    <!-- </div> -->
  </div>

  <%= link_to "Back to Homepage", root_path %>
</div>
