<div class="container">
  <%= link_to "< Back to musicians", musicians_path %>
  <br>
  <br>
  <br>
  <!-- paragraph below is super helpful -->
  <!-- <p>Find me in app/views/musicians/show.html.erb</p> -->

 <div class="d-flex">
  <%= image_tag(@musician.photo, class: "avatar-musician-show") %>
    <div>
      <h2 style="color: #846000; font-weight: 700"><%= @musician.full_name.upcase %></h2>
        <%= link_to "Website", @musician.website, class: "musician-website" %>
        <br>
        <br>
        <p style="margin-bottom: 4px"><strong>Ensemble type: </strong><%= @musician.ensemble_type %></p>
        <p style="margin-bottom: 4px"><strong>Instruments: </strong><%= @musician.instruments %></p>
        <p style="margin-bottom: 4px"><strong>Repertoire 1: </strong><%= @musician.repertoire_1 %> | <%= @musician.repertoire_1_length %> minutes</p>
        <p style="margin-bottom: 4px"><strong>Repertoire 2: </strong><%= @musician.repertoire_2 %> | <%= @musician.repertoire_2_length %> minutes</p>
    </div>
    <div style="margin-left: 30px">
      <span><h3>$<%= @musician.price %></h3><p style="margin-bottom: 4px"> per concert</p></span>
    </div>
  </div>

  <br>
  <div class="row justify-content-center">
    <%= link_to "BOOK THIS ARTIST", new_user_booking_path(@musician), class: "btn btn-primary" %>
  </div>
  <br>
  <br>
  <h4 style="color: #84161E">BIOGRAPHY</h4>
    <p align="justify" style="color: #0D253D"><%= @musician.bio %></p>

  <div class="row justify-content-center" style="font-size: 50px; color: #84161E">
    <div class="links-to-socials" style="display: inline; color: #69748C" >
      <%= link_to @musician.facebook do %>
        <i class="fab fa-facebook"></i>
      <% end %>
      <%= link_to @musician.youtube do %>
        <i class="fab fa-youtube"></i>
      <% end %>
      <%= link_to @musician.instagram do %>
        <i class="fab fa-instagram"></i>
      <% end %>
    </div>
  </div>

  <div class="row justify-content-center">
    <iframe class="musician-video" src="<%= @musician.video %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>


<!--   <h3>Contact</h3>
    <p>Email: <%= @musician.email %></p>
    <p>Phone number: <%= @musician.phone_number %></p> -->


  <br>



  <p><strong>Average rating</strong></p>
    <% if @musician.average_rating.class == String %>
      <p>No reviews yet</p>
    <% else %>
      <%= render 'review_stars', { musician: @musician } %>
    <% end %>

  <p>Reviews</p>
  <%= link_to "Leave a review", new_user_review_path(@musician) %>
  <div class="all-reviews">
    <% reviews = Review.where(musician_id: @musician.id) %>
    <% reviews.each do |review| %>
      <%= render 'review_card', { review: review } %>
    <% end %>
  </div>
</div>

<!-- add a new link to go to Bookings.New Page; creates a link to go to specific musician page, should call the variable id -->
<!-- to find url, run rails routes -->
<!-- /users/users_id/bookings/new -->
