<div class="container">

  <div class="chat-header">
    <% if current_user.is_musician %>
      <h1>Conversation with <%= @chatroom.customer.full_name %></h1>
    <% else %>
      <h1>Conversation with <%= @chatroom.musician.full_name %></h1>
    <% end %>
  </div>


  <div class="chat-container">

    <div id="messages" class="messages-container" data-chatroom-id="<%= @chatroom.id %>">
      <% @chatroom.messages.each do |message| %>
        <%= render 'messages/message', { message: message } %>
      <% end %>
    </div>

  </div>
</div>

<div id="create-message">
  <%= simple_form_for [ @chatroom, Message.new ], remote: true, html: {autocomplete: "off" } do |f| %>
    <div class="legato-container input-container">
      <%= f.input :content, label: false, autofocus: true, placeholder: "Type your message, then press enter to send" %>
    </div>
  <% end %>
</div>
