<h1>My Booking Bookings#index</h1>
<p>(Find me in app/views/bookings/index.html.erb)</p>

<!-- Who booked me today? -->

<div>
  <% @bookings.each do |booking| %>
    <p>Booking Request for: <%= booking.musician.full_name %></p>
    <p>Repertoire: <%= booking.repertoire_name %> | <%= booking.repertoire_length %> minutes </p>
    <p>Requested by: <%= booking.customer.full_name %></p>
    <p>Date and time: <%= booking.date_time.strftime('%F at: %H:%M sharp!') %></p>
    <p>Address: <%= booking.location %></p>
    <p>Phone: <%= booking.customer.phone_number %></p>
    <p>Comments: <%= booking.comments %></p>
    <p><%= booking.status ? "Accepted" : "Decline" %></p>

  <% end %>
</div>
<br>
<%= link_to "Back to Homepage", root_path %>
