<button type="button" class="btn_home" style="padding-left: 30px; "> <%= link_to "< Home", root_path %>
</button>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6 col-xl-6 ">
      <div class="form-login">
        <div class="form-style">
          <h1 style="text-align: center;"> UPDATE PROFILE </h1>
          <br>
          <%= simple_form_for @user, url: user_path(current_user), class: "form-align"  do |f| %>
            <%= f.error_notification %>
            <%= f.input :first_name %>
            <%= f.input :last_name %>
            <%= f.input :email, input_html: { autocomplete: 'email' } %>
            <%= f.input :password, input_html: { autocomplete: 'current-password' } %>
            <%= f.input :phone_number %>
            <%= f.input :address %>
            <div class="row justify-content-center">
              <%= f.submit "Update my profile" , class: "btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
